@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aeries Students</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">School Code</th>
                <th scope="col">Student ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.listStudents)
            {
            <tr>

                <td>@item.SchoolCode</td>
                <td>@item.StudentID</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.State</td>
                <td>@item.ZipCode</td>


            </tr>
            }


        </tbody>
    </table>
</div>
